@model WebApp_Tid__og_sagsregistreringssystem.Controllers.TidsregistreringViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Heimdall Sikring - Portal for Tidsregistrering</title>
    <script>
        function showMessage(message) {
            alert(message);
        }
    </script>
</head>
<body>
    @if (TempData["Success"] != null)
    {
        <script>
            showMessage("@TempData["Success"]");
        </script>
    }

    @if (TempData["Error"] != null)
    {
        <script>
            showMessage("@TempData["Error"]");
        </script>
    }

    <div>
        <h2>Afdelinger:</h2>
        @using (Html.BeginForm("Index", "Tidsregistrering", FormMethod.Post))
        {
            @Html.DropDownListFor(m => m.SelectedAfdelingID, Model.Afdelinger, "Vælg en afdeling", new { @required = "required" }) <br /><br />
            <button type="submit">Vis alle sager og medarbejdere fra afdelingen</button>
        }
    </div>

    @if (Model.Sager != null && Model.Medarbejdere != null)
    {
        <div>
            <h2>Opret ny tidsregistrering:</h2>
            @using (Html.BeginForm("OpretTidsregistrering", "Tidsregistrering", FormMethod.Post))
            {
                <label for="SelectedSagID">Vælg en sag:</label>
                @Html.DropDownListFor(m => m.SelectedSagID, Model.Sager, "Vælg en sag", new { @required = "required" }) <br /><br />

                <label for="SelectedMedarbejderID">Vælg en medarbejder:</label>
                @Html.DropDownListFor(m => m.SelectedMedarbejderID, Model.Medarbejdere, "Vælg en medarbejder", new { @required = "required" }) <br /><br />

                <label for="Date">Dato:</label>
                @Html.TextBoxFor(m => m.Date, new { type = "date", @required = "required" }) <br /><br />

                <label for="Hours">Antal timer:</label>
                @Html.TextBoxFor(m => m.Hours, new { type = "number", min = "1", @required = "required" }) <br /><br />

                <button type="submit">Opret tidsregistrering</button>
            }
        </div>
    }
</body>
</html>
